<% if(typeof errorMessage != 'undefined') { %>
    <% errorMessage.forEach(function(error) {%>
        
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
         <p className="text-danger message-txt">
            <%= error.msg %>
            <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
         </p>
        </div>
    <%})%>



<%}%>