<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <nav id="main-navbar" class="navbar navbar-expand-lg nav-<%=theme%> fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid ">

            <!-- Brand -->
            <a class="navbar-brand" href="/pages">
                <h1><em>MyNoteBook</em></h1>
            </a>
            <!-- navbar toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <!-- links -->
            <div class="collapse navbar-collapse flex-container" id="navContent">
                <div class="navbar-nav mt-auto navbar-container">
                    <!-- search button -->
                    <form action="/search-results" method="Post">
                        <div class="nav-align">
                            
                            <a class="btn nav-link" href="/search-results" ><i class="fa-solid fa-magnifying-glass fa-xl"></i><p>Search</p> </a>
                    </form>                                
                        <!-- checkout button -->
                        <div class="nav-align"><a class="btn  nav-link " href="/checkout" role="button"> <i class="fa-regular fa-credit-card fa-xl"></i> <p>Checkout</p></a></div>
                        <!-- settings button -->
                        <div class="nav-align"><a class="btn  nav-link " href="/settings" role="button"> <i class="fa-solid fa-gear fa-xl"></i> <p>Settings</p></a></div>
                        <!-- public-pages button -->
                        <div class="nav-align"><a class="btn  nav-link " href="/public-pages" role="button"> <i class="fa-sharp fa-solid fa-globe fa-xl"></i><p>Public</p></a></div>
                        <!-- trash button -->
                        <div class="nav-align"><a class="btn  nav-link " href="/trash" role="button"> <i class="fa-solid fa-trash fa-xl"></i><p>Trash</p> </a></div>
                        <!-- dark/light button -->
                        <form action="/nav?_method=PUT" method="POST">
                            <div id="d-button"class="nav-align">
                                <input type="hidden" value="<%=url%>" name="prevUrl">
                                    <% if(theme!="dark" ){%>                       
                                        <input type="submit" class="btn  nav-link" onclick="this.form.submit()" value="ðŸŒ’" role="button"></input></i>
                                        <%}else{%>
                                            <input type="submit" class="btn  nav-link" onclick="this.form.submit()" value="â˜€ï¸" role="button"></input></i>
                                            <%}%>
                                

                            </div>
                        </form>
                        <!-- profile picture -->
                        <div class="nav-align"><a class="btn nav-link " role="button"><img src="<%=pic%>" class="rounded-circle"
                                    alt="" loading="lazy" /></a></div>
                        <!-- logout button -->
                        <div class="nav-align"><a class="btn  nav-link " href="/logout" role="button"><p>Log Out</p> </a></div>
                </div>         
            </div>


        </div>
    </nav>
<div class="nav-block"></div>