<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <!-- Container wrapper -->
        <div class="container-fluid ">

            <!-- Brand -->
            <a class="navbar-brand" href="/pages">
                <em>MyNoteBook</em>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon  "></span>
                </button>
            <!-- Right links -->
            <div class="collapse navbar-collapse flex-container" id="navContent">
                <div class="navbar-nav mt-auto navbar-container">
                    <form action="/search-results" method="Post"></form>
                        <div class="nav-align">
                            
                            <a class="btn btn-light" href="/search-results" role="button">Search<i class="fa-solid fa-magnifying-glass"></i> </a>
                            <!-- <button type="submit"  class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i></button> -->
                    </form>                                
                                        <!-- <script>
                                            $("#d-button").click(function(){
                                                $("div").css("color", "red");
                                            })
                                           
                                        </script> -->
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/checkout" role="button">Checkout <i class="fa-regular fa-credit-card fa-xl"></i> </a></div>
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/settings" role="button">Settings <i class="fa-solid fa-gear fa-xl"></i> </a></div>
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/public-pages" role="button">Public <i class="fa-sharp fa-solid fa-globe fa-xl"></i></a></div>
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/trash" role="button">Trash <i class="fa-solid fa-trash fa-xl"></i> </a></div>
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/logout" role="button">Log Out </a></div>
                        <div class="nav-align"><a class="btn btn-light nav-link " href="/logout" role="button"><img src="<%=pic%>" class="rounded-circle" height="44" alt="" loading="lazy" /></a></div>
                        <form action="/nav?_method=PUT" method="POST">
                        <div id="d-button"class="nav-align">
                            <input type="hidden" value="<%=url%>" name="prevUrl">
                            <input type="submit" class="btn btn-light nav-link" onclick="this.form.submit()" value="🌒" role="button"></input></i>
                        
                            <!-- <script>
                                var container = document.querySelectorAll('.parent-flex')[0];
                                var container2 = document.querySelectorAll('.container')[0];
                                document.getElementById('d-button').addEventListener('click', (event) => {
                                    
                                    theme="<%=theme%>";
                                    if(theme == "default"){
                                        var theme1 = 'dark';
                                    }else{
                                        var theme1 = 'default';
                                    }
                                    
                                    container.setAttribute('data-theme', theme1);
                                    container2.setAttribute('data-theme', theme1);    
                                    
                                });
                                

                                              
                            </script> -->

                        </div>                                        

                   </form>
                </div>         
            </div>
                    <!-- <script >
                        $(document).ready(function(){
                            $('#selector').change(function () {
                                $('body').toggleClass("dark-mode");
                            })
                        })
                        // function styleToggle() {
                        //     var mode = document.body;
                        //     mode.classList.toggle("body-dark-mode");
                        // }

                    </script>    -->

        </div>
    </nav>
<div class="nav-block"></div>