
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <!-- Container wrapper -->
        <div class="container-fluid ">

            <!-- Brand -->
            <a class="navbar-brand" href="/pages">
                <em>MyNoteBook</em>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon  "></span>
                </button>
            <!-- Right links -->
            <div class="collapse navbar-collapse flex-container" id="navContent">
                <div class="navbar-nav mt-auto navbar-container">
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/checkout" role="button">Checkout <i class="fa-regular fa-credit-card fa-xl"></i> </a></div>
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/settings" role="button">Settings <i class="fa-solid fa-gear fa-xl"></i> </a></div>
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/public-pages" role="button">Public <i class="fa-sharp fa-solid fa-globe fa-xl"></i></a></div>
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/trash" role="button">Trash <i class="fa-solid fa-trash fa-xl"></i> </a></div>
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/logout" role="button">Log Out </a></div>
                    <div class="nav-align"><a class="btn btn-light nav-link " href="/logout" role="button"><img src="<%=pic%>" class="rounded-circle" height="44" alt="" loading="lazy" /></a></div>
                </div>         
            </div>

        </div>
    </nav>
<div class="nav-block"></div>