<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<nav id="main-navbar2" class="navbar navbar-expand-lg navbar-light bg-white fixed-top nav-<%=theme%>">
    <!-- Container wrapper -->
    <div class="container-fluid ">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <em>MyNoteBook</em>
        </a>
        <!-- navbar toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent2"
            aria-controls="navContent2" aria-expanded="false" aria-label="Toggle navigation2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse flex-container" id="navContent2">
            <div class="navbar-nav mt-auto navbar-container">
                    <!--Login button -->
                    <div class="nav-align"><a class="btn nav-link" href="/login" role="button">LogIn </a></div>
                    <!-- register button -->
                    <div class="nav-align"><a class="btn nav-link" href="/register" role="button">Register</a></div>
                    <!-- default user icon -->
                    <div class="nav-align"><a class="btn nav-link" role="button"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
        </div>
</nav>
