<%-include('partials/header.ejs')-%>

<form action="/check-out" method="POST">
    <div class="form-group">
        <button type="submit" name="basic" class="btn btn-light check-out-btn">Check out</button>
    </div>
</form>







<%-include('partials/footer.ejs')-%>