<%-include('partials/nav2.ejs')-%>
        <h1 class="display-3">My NoteBook</h1>
        <p class="lead">Document your thoughts and feelings</p>
        <hr>
        <!-- these buttons make get requests to the specific route allowing them to be
    redirected or go to the site when they are clicked -->
        <a class="btn btn-light btn-lg" href="/register" role="button" alt="register">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button" alt="login">Login</a>
