<%-include('partials/header.ejs')-%>
        <h1 class="display-3">My NoteBook</h1>
        <p class="lead">Document your thoughts and feelings</p>
        <hr>
        <!-- these buttons make get requests to the specific route allowint them to be
    redirected or go to the site when they are clicked -->
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

<%- include("partials/footer.ejs")-%>