<%-include('partials/nav2.ejs')-%>
<%-include('partials/flash.ejs')-%>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 col-sm-7">
            <!-- <main class="form-signin w-100 m-auto"> -->
                <form action="/login" class="form-signin" method="post">

                    <h1 class="h3 mb-3 fw-normal login-register-style"><b>Login</b></h1>

                        <input type="text" name="username" class="form-control top" id="floatingInput" placeholder="User Name" required
                        autofocus>
                        <!-- <input type="email" name="email" class="form-control bottom" id="floatingPassword" placeholder="Email"
                        required> -->
                        <input type="password" name="password" class="form-control bottom" id="floatingPassword"
                        placeholder="password" required>

                        <button class="w-100 btn btn-primary" type="submit">Login</button>
                        <a class="page-link" href="/register">Don't have an account? Click here to register.</a>
        </form>
    <!-- </main> -->
</div>
    <div class="col-md-4 col-sm-5 social-btn-container">
        <div class="card social-block social-btn-container">
                <a class="btn btn-block btn-social btn-google col-sm-12" href="/auth/google" role="button">
                    <i class="fab fa-google"></i>
                    Sign Up with Google
                </a>
            
        </div>
    </div>
</div>
</div>
