<%-include('partials/header.ejs')-%>
<div class="container mt-5">
    <div class="row">
    <div class="col-sm-8">
    <main class="form-signin w-100 m-auto">
        <form action="/login" class="form-signin" method="post">

            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <input type="text" name="username" class="form-control top" id="floatingInput" placeholder="User Name" required
                autofocus>
            <input type="email" name="email" class="form-control bottom" id="floatingPassword" placeholder="Email"
                required>
            <input type="password" name="password" class="form-control bottom" id="floatingPassword"
                placeholder="password" required>

            <button class="w-100 btn btn-primary" type="submit">Login</button>

        </form>
    </main>
</div>
    <div class="col-sm-4">
        <div class="card social-block">
            <div class="card-body">
                <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                    <i class="fab fa-google"></i>
                    Sign Up with Google
                </a>
            </div>
        </div>
    </div>

</div>
</div>
    <%- include("partials/footer.ejs")-%>