<%-include('partials/nav.ejs')-%>

<h1 class="post-title">Search</h1>
<div class="search-container">
        <input type="text" class="form-control" name="title" onkeyup="sendData(this)" placeholder="Title of new page" required>
</div>
<section id="results" >

</section>


<script language="javascript">
        function sendData(e) {
                const results = document.getElementById('results');
                results.innerHTML="";
                fetch('search-results', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ payload: e.value })
                }).then(res => res.json()).then(data => {
                        let payload = data.payload;
                        console.log(payload);
                        if(payload.length < 1){
                          results.innerHTML ='<p>Nothing found<p>';
                          return;      
                        }
                        payload.reverse().forEach((item, index)=>{
                                if(index > 0)
                                  results.innerHTML += '<hr>'; 
                                  results.innerHTML += `<p><a href="/pages/${item._id}" class="search-style" > ${item.title}</a></p>`;     
                                
                                
                        });
                        return;
                });
        }

</script>



