<%-include('partials/nav.ejs')-%>
<!-- <h1>Settings</h1> -->
     <div class="profile-entry">    
        <div class="profile-form">
            <img src="<%=currentUser.profileImage.url%>" class="profile-image" alt="...">
        </div> 
<div class=" profile-form-body">       
 <form action="/settings/profile-image?_method=PUT" method="post" enctype="multipart/form-data">

             
            <label for="formFile" class="form-label">Profile Image</label>
            <input class="form-control" type="file" name="profileImage" id="" required>
            <button type="submit"  class="btn btn-success btn-block update-btn">Update</button>
        
 </form>
</div>

</div>  


        <div class="profile-entry">
            <div class=" profile-form-body">
                <h1>Location : </h1>
                <h2>Off </h2>
                <div class="controller-row">
                    <form action="/settings/location?_method=PUT" method="post" >
                    <label class="switch">
                    <% if(currentUser.locationAccess == "on"){%>            
                        <input id="toggler" type="checkbox" onChange="this.form.submit()" checked>
                            <span class="slider round"></span>
                    <%}else{%>
                            <input id="toggler" type="checkbox" onChange="this.form.submit()">
                            <span class="slider round"></span> 
                    <%}%>
                </label>

         </form>
        </div>
        <h2> On</h2>

    </div>
</div>


<script language="javascript">
    function alerttest(ei){
        alert("Hi there!: "+ ei.value);
        
    }    
</script>

<div class="back-btn">
    <a class="btn btn-light" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>
