<%- include("partials/header"); -%>


<% newPage.forEach(function(newPageContent){%>
    <% if(newPageContent.title == userthing){%>
    <h1>
        <%=newPageContent.title%>
    </h1>
    <p>
        <%=newPageContent.content%>
    </p>
    <%}%>
    <% }) %>

    <%- include("partials/footer"); -%>