<%- include("partials/header"); -%>

<div class="userContent-style">
<% newPage.forEach(function(newPageContent){%>
    <% if(newPageContent.title == userthing || newPageContent == newPageContent[0]){%>
    <div class="container-fluid">
    <h1 class="page-entry full-title">
        <%=newPageContent.title%>
    </h1>
    <p class="page-entry full-body">
        <%=newPageContent.content%>
    </p>
    </div>
    <%}%>
    <% }) %>
<div class="back-btn">
    <a class="btn btn-light" href="/page" role="button"><i class="fas fa-home"></i></a>
</div>
</div>
    <%- include("partials/footer"); -%>