<h1 class="post-title">Verification</h1>
<div class="code_form">
    <form action="/verify" method="post">
        <input type="text" class="form-control text-left" name="verificationCode" placeholder="Enter verification code"
        required>
        <%-include('partials/verifyMessage.ejs')-%>
        <button type="submit" class="btn btn-light btn-block">Submit</button>
    </form>
</div>
<div class="logoutBtn">
    <a class="btn btn-light" href="/logout" role="button">Log Out</a>
</div>
