<%-include('partials/header.ejs')-%>
<div class="code_form">
    <form action="/verifyEmail" method="post">
        <input type="text" class="form-control text-left" name="verificationCode" placeholder="Enter verification code"
        required>
        <%-include('partials/verifyMessage.ejs')-%>
        <button type="submit" class="btn btn-light btn-block">Submit</button>
    </form>
</div>

<%- include("partials/footer.ejs")-%>