html {
  overflow: scroll;
}
body {
  background-color: blueviolet;
  padding: 0 16px;
}

.parent-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

a {
  text-decoration: none;
}
a :link {
  color: #000000;
}
a :hover {
  color: grey;
}

h1 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  margin-top: 1rem;
}
p {
  font-size: 1.5rem;
}

#d-button {
  scale: 2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.action-btn {
  background-color: transparent;
  border-style: solid;
  border-radius: 3rem;
  border-color: grey;
}
.back-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  position: relative;
  padding-top: 3rem;
}
.body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: auto;
  align-content: flex-end;
  min-height: 100%;
  justify-content: space-evenly;
}
.cancel-style {
  margin-left: auto;
  margin-right: auto;
}
.container {
  border-radius: 1rem;
  padding-bottom: 2rem;
}
.code_form {
  padding-top: 4rem;
}
.checkout {
  display: flex;
  justify-content: center;
}
.check-out-btn {
  margin-top: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.check-out-style {
  padding-top: 2rem;
}
.card-img-top {
  border-radius: 0%;
  height: 10rem;
}
.close {
  background-color: transparent;
  border-style: none;
}
.delete-btn :hover {
  color: #bc2d1a;
}
.date-style {
  font-size: small;
}
.edit-btn :hover {
  color: green;
}
.entry-div {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  /* margin-top: auto; */
  height: 20rem;
  align-items: flex-end;
}
.footer-text {
  display: flex;
  color: #ffffff;
  bottom: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.full-title {
  border-bottom-color: #000000;
  border-bottom-style: solid;
  padding-top: 2rem;
}
.full-body {
  position: relative;
  background-color: #fff;
  padding-bottom: 1rem;
  white-space: pre-line;
  word-wrap: break-word;
  justify-items: left;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
}
.full-body > p {
  position: relative;
  top: -1rem;
}

.flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}
.flash {
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
  align-content: center;
}

.edit-mode {
  width: 100%;
}
.normal-mode {
  visibility: hidden;
  display: none;
}
.header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 50%;
  justify-content: flex-end;
  margin-top: 15%;
}
.hide {
  display: none;
}
.icon-style-form {
  display: inline-block;
  position: relative;
  top: -0.5rem;
  color: #000000;
}
/* .link-style{

} */
.logoutBtn {
  position: relative;
  margin-top: 5%;
  margin-bottom: 0%;
}
.login-register-style {
  margin-top: 1rem;
}

.page-form {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
}
.message.txt {
  font-size: 0.1rem;
  color: blue;
}
.message {
  margin-top: 2rem;
  margin-bottom: 0;
}
.moon-btn {
  position: relative;
  z-index: -3;
}
.nav-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nav-align {
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nav-block {
  height: 3.5rem;
  position: relative;
  background-color: transparent;
}
.nav-image {
  position: relative;
  overflow: hidden;
  height: 10vh;
  width: 10vh;
}

.navbar-toggler {
  margin-bottom: 0.5rem;
}
.nav-bar {
  height: 4%;
}

.nav-default {
  color: #459e63;
}
.nav-dark {
  background-color: black;
}
.nav-default {
  background-color: white;
}
.note {
  position: static;
  /* background-color: #fff; */
  height: 100%;
}
.note-entry {
  position: static;
  /* background-color: black; */
  height: 100%;
  border-radius: 2rem;
}
.note-dark {
  background-color: black;
}
.note-default {
  background-color: white;
}

.note-heading {
  background-color: none;
  border-bottom-width: 0.1rem;
  margin-bottom: 0px;
  word-wrap: break-word;
  border-top-right-radius: 1rem;
}

.note-body {
  margin-top: 0px;
  /* background-color: #7fffd4; */
  word-wrap: break-word;
  font-size: medium;
  white-space: pre-line;
}

.note-weather-image {
  position: relative;
  margin-bottom: auto;
  max-width: 100%;
  max-height: 100%;
  scale: 75%;
  top: -2rem;
  background-color: #4ecdc4;
  border-radius: 3rem;
}
.note-weather-description {
  margin-top: 1rem;
  font-size: 1rem;
}
.page-btn {
  background-color: transparent;
  border-style: none;
  color: black;
  padding: 0.5rem;
}
.page-btn :hover {
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  color: darkblue;
}

.page-link {
  text-decoration: none;
}
.page-btn :active {
  color: #ffffff;
}

.profile-image {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 10rem;
  border-style: solid;
  width: 10rem;
}
.profile-entry {
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 1rem;
  padding-left: 0.2rem;
  overflow: hidden;
}
.profile-form-style {
  height: 10rem;
  flex-grow: 0.5;
  position: relative;
  width: 20rem;
}
.profile-form-body {
  align-items: center;
  /* background-color: #ffffff; */
  display: flex;
  flex-grow: 0.5;
  height: 10rem;
  width: 20rem;
  margin-bottom: -2rem;
  padding-right: 2rem;
  padding-left: 1rem;
}
.public-style {
  margin-top: 2rem;
}

.post-title {
  margin-bottom: 0.25rem;
  font-size: 3rem;
}
.post-meta {
  font-size: 1rem;
}

.review-text {
  font-size: 1rem;
}

.review-style {
  background-color: white;
  border-color: #000000;
  border-top-style: solid;
  border-bottom-style: solid;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.rounded-circle {
  position: relative;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.salvage-btn :hover {
  color: #007fff;
}
.social-btn-container {
  background-color: none;
  border-style: none;
  margin-top: 2rem;
}
.share-true {
  background-color: green;
}
.share-false {
  background-color: transparent;
}
.subscription-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search-style {
  margin-top: 50rem;
  color: darkblue;
}

.top-buttons {
  position: relative;
}

.userContent-style {
  position: relative;
  height: 100%;
}
.update-btn {
  margin-top: 1rem;
}

/* toggle */
.switch {
  display: inline-block;
  height: 58px;
  position: relative;
  width: 110px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider-flex {
  display: flex;
  flex-direction: row;
}
.slider-flex-content {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.slider::before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 49px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 49px;
  border-style: solid;
}

input:checked + .slider {
  background-color: #459e63;
}

input:checked + .slider:before {
  transform: translateX(55px);
}

.slider.round {
  border-radius: 64px;
  border-style: solid;
  border-color: #000000;
}

.slider.round:before {
  border-radius: 50%;
}

/*** Light Mode Theme ***/
.container[data-theme="default"] {
  --background-color: #007fff;
  --text-color: #2a20af;
}
.parent-flex[data-theme="default"] {
  --background-color: #17bebb;
}

/* Dark Mode Theme */
.container[data-theme="dark"] {
  --background-color: #4ecdc4;
  --text-color: white;
}
.parent-flex[data-theme="dark"] {
  --background-color: #000000;
}
.container,
.parent-flex {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: color 0.45s ease-in;
}
