body {
  /* background: rgb(192, 79, 181); */
  background-color: #c04fb5;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  padding: 0 16px;
}
a {
  text-decoration: none;
}
a :link {
  color: black;
}
a :hover {
  color: white;
}

h1 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.container {
  margin-top: 100px;
  padding-bottom: 70px;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
}

.delete-btn {
  background-color: none;
  border-style: none;
  margin-top: 1rem;
}
.delete-btn :hover {
  color: #bc2d1a;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}
.footer-padding {
  padding-bottom: 60px;
}

.logoutBtn {
  position: relative;
  margin-top: 25%;
  margin-bottom: 0%;
}

.note-heading {
  background-color: aqua;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  border-bottom: solid;
  border-bottom-width: 0.1rem;
  margin-bottom: 0px;
}
.note-body {
  margin-top: 0px;
  background-color: aquamarine;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
}
.page-btn {
  background-color: aquamarine;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  border-style: none;
  color: black;
  padding: 0.5rem;
}
.page-btn :hover {
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  color: darkblue;
  padding: 0.2rem;
}

.page-btn :active {
  color: white;
}

.social-btn-container {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  border-style: none;
}
